@{
    ViewBag.Title = "Trang Chủ";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<div class="trangchu">
    <h1>Bạn có tò mò về chỉ số IQ của mình không?</h1>
    <p></p>
    <ul>
        <li> Đây là bài kiểm tra IQ mà chúng tôi đã tổng hợp được</li>
        <li> Dành cho mọi người từ 16 tuổi trờ lên</li>
        <li> Mọi quốc gia vì các câu hỏi hoàn toàn là ảnh</li>
        <li> Bài kiểm tra này sẽ giúp các bạn biết được IQ mình là bao nhiêu</li>
        <li> Hãy lựa chọn nơi yên tĩnh để có kết quả tốt nhất nhé</li>
        <li> Các bạn đừng chia sẽ đáp án để công bằng và chính xác nhất cho những ngươi sau nhé</li>
    </ul>
    <div style="width:100%; text-align:center; margin: 20px 0 10px 0;">
        <a class="bt_Test" href="#">Kiểm Tra Ngay Nào</a>
    </div>
</div>

