
@{
    ViewBag.Title = "IQNguoinoitieng";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2 style="color:blueviolet; text-align:center">IQ Của Nhóm Người Nổi Tiếng Thế Giới</h2>
<div class="container">
    <div class="row">
        <div class="col-md-3 thumbnail">
            <a href="~/HinhIQStar/batman.jpg">
                <img src="~/HinhIQStar/batman.jpg" alt="EmmaWatson" />
                <p style="text-align:center">Banman 192</p>
            </a>
        </div>
        <div class="col-md-3 thumbnail">
            <a href="~/HinhIQStar/BillClinton.jpg">
                <img src="~/HinhIQStar/BillClinton.jpg" alt="EmmaWatson" />
                <p style="text-align:center">Bill Clinton 156</p>
            </a>
        </div>
        <div class="col-md-3 thumbnail">
            <a href="~/HinhIQStar/BillGate.jpg">
                <img src="~/HinhIQStar/BillGate.jpg" alt="EmmaWatson" />
                <p style="text-align:center">Bill Gate 160</p>
            </a>
        </div>
        <div class="col-md-3 thumbnail">
            <a href="~/HinhIQStar/Clinton.jpg">
                <img src="~/HinhIQStar/Clinton.jpg" alt="EmmaWatson" />
                <p style="text-align:center">Clinton 140</p>
            </a>
        </div>
        <div class="col-md-3 thumbnail">
            <a href="~/HinhIQStar/Hitler.jpg">
                <img src="~/HinhIQStar/Hitler.jpg" alt="EmmaWatson" />
                <p style="text-align:center">Hitler 141</p>
            </a>
        </div>
        <div class="col-md-3 thumbnail">
            <a href="~/HinhIQStar/Jobs.jpg">
                <img src="~/HinhIQStar/Jobs.jpg" alt="EmmaWatson" />
                <p style="text-align:center">Steve Jobs 160</p>
            </a>
        </div>
        <div class="col-md-3 thumbnail">
            <a href="~/HinhIQStar/Newton.jpg">
                <img src="~/HinhIQStar/Newton.jpg" alt="EmmaWatson" />
                <p style="text-align:center">Issac Newton 190</p>
            </a>
        </div>
        <div class="col-md-3 thumbnail">
            <a href="~/HinhIQStar/MarkZukerberg.jpg">
                <img src="~/HinhIQStar/MarkZukerberg.jpg" alt="EmmaWatson" />
                <p style="text-align:center">Mark Zukerberg 152</p>
            </a>
        </div>
        <div class="col-md-3 thumbnail">
            <a href="~/HinhIQStar/Shakira.jpg">
                <img src="~/HinhIQStar/Shakira.jpg" alt="EmmaWatson" />
                <p style="text-align:center">Shakira 140</p>
            </a>
        </div>
        <div class="col-md-3 thumbnail">
            <a href="~/HinhIQStar/SherlockHolmes.jpg">
                <img src="~/HinhIQStar/SherlockHolmes.jpg" alt="EmmaWatson" />
                <p style="text-align:center">Sherlock Holmes 190</p>
            </a>
        </div>
        <div class="col-md-3 thumbnail">
            <a href="~/HinhIQStar/Songjongki.jpg">
                <img src="~/HinhIQStar/Songjongki.jpg" alt="EmmaWatson" />
                <p style="text-align:center">Songjongki 140</p>
            </a>
        </div>
        <div class="col-md-3 thumbnail">
            <a href="~/HinhIQStar/Tony.jpg">
                <img src="~/HinhIQStar/Tony.jpg" alt="EmmaWatson" />
                <p style="text-align:center">Tony Stack 270</p>
            </a>
        </div>
        <div class="col-md-3 thumbnail">
            <a href="~/HinhIQStar/Trump.jpg">
                <img src="~/HinhIQStar/Trump.jpg" alt="EmmaWatson" />
                <p style="text-align:center">Donald Trump156</p>
            </a>
        </div>
        <div class="col-md-3 thumbnail">
            <a href="~/HinhIQStar/EmmaWatson.jpg">
                <img src="~/HinhIQStar/EmmaWatson.jpg" alt="EmmaWatson" />
                <p style="text-align:center">Emma Watson 138</p>
            </a>
        </div>
    </div>
</div>

